@font-face{
	font-family: comical;
	src: url('../fonts/animeace2_reg.ttf');
}
body {
	background-color: black;
}
.stage {
	background-color: white;
	margin-top: 100px;
	height: 500px;
	padding-left: 100px;
	min-width: 1200px;
	z-index: 1;
	position: relative;
}
.ryu {
	float: left;
	display: block;
	width: 659px;
	height: 494px;
}
.ryu-stand, .ryu-move, .ryu-attack, .ryu-cool {
	width: 659px;
	height: 494px;
}
.ryu-move, .ryu-attack, .hadouken, .ryu-cool {
	display: none;
}
.ryu-stand, .ryu-move, .ryu-attack, .hadouken, .ryu-cool {
	background-repeat: no-repeat;
}
.hadouken {
	width: 156px;
	height: 90px;
	float: left;
	position: absolute;
	top: 167px;
	left: 560px;
	z-index: 10;
}
.text {
	width: 500px;
	color: black;
	font-size: 20px;
	font-family: comical;
	line-height: 35px;
	float: left;
}
.text p {
	width: 50%;
	display: block;
	margin-top: 70px;
}
.text p + p {
	margin-left: 200px;
}
.ryu-stand {
	background-image: url('../images/ryu-standing-still.png');
}
.ryu-move {
	background-image: url('../images/ryu-ready-position.gif');
}
.ryu-attack {
	background-image: url('../images/ryu-throwing-hadouken.png');
}
.hadouken {
	background-image: url('../images/hadouken.gif');
}
.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}